fieldset {
    margin: 0px 2px 3px 0px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
fieldset legend {
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #808080;
    background: #999999;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-size: 0.95em;
    color: #fff;
}

label {
    display: inline-block;
    padding: 3px 5px;
    vertical-align: middle;
    font-size: 0.85em;
    cursor: pointer;
}
label:hover {
    color: #335e80;
}
label:active {
    color: #3b8033;
}

input[type="text"],
input[type="password"],
textarea,
select {
    display: inline-block;
    width: 150px;
    margin: 0px 2px 2px 0px;
    padding: 5px 8px;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 1em;
    font-family: sans-serif;
}
textarea {
    resize: vertical;
}
select option {
    padding: 3px;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
    border-color: #7aa9cc;
    background-color: #e5f4ff;
    color: #265980;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #95cc8f;
    background-color: #e8ffe5;
    color: #26661f;
}
input[readonly="readonly"],
textarea[readonly="readonly"],
select[readonly="readonly"] {
    background-color: #d9d9d9;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input.btn-blue,
input.btn-green,
input.btn-red,
*.btn-blue,
*.btn-green,
*.btn-red {
    display: inline-block;
    margin: 0px 1px 1px 0px;
    padding: 8px 13px;
    border-radius: 3px;
    border: 1px solid #999999;
    background: #fff;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15) inset;
    font-size: 0.85em;
    color: #4d4d4d;
    cursor: pointer;
    white-space: normal;
}
input[type="button"]:hover,
input.btn-blue:hover,
*.btn-blue:hover {
    border-color: #134d80;
    background-color: #1b6cb3;
    box-shadow:
        1px 1px 2px rgba(255, 255, 255, 0.25) inset
        ,-2px -2px 3px rgba(0, 0, 0, 0.3) inset;
    text-decoration: none;
    text-shadow: 0px 0px 0px transparent;
    color: #fff;
}
input[type="submit"],
input.btn-green,
*.btn-green {
    /*border-color: #09590d;*/
    /*background-color: #59805b;*/
}
input[type="submit"]:hover,
input.btn-green:hover,
*.btn-green:hover {
    border-color: #14660f;
    background-color: #198013;
    box-shadow:
        1px 1px 2px rgba(255, 255, 255, 0.25) inset
        ,-2px -2px 3px rgba(0, 0, 0, 0.3) inset;
    text-decoration: none;
    text-shadow: 0px 0px 0px transparent;
    color: #fff;
}
input[type="reset"],
input.btn-red,
*.btn-red {
    /*border-color: #660f0f;*/
    /*background-color: #805959;*/
}
input[type="reset"]:hover,
input.btn-red:hover,
*.btn-red:hover {
    border-color: #661e0f;
    background-color: #992d17;
    box-shadow:
        1px 1px 2px rgba(255, 255, 255, 0.25) inset
        ,-2px -2px 3px rgba(0, 0, 0, 0.3) inset;
    text-decoration: none;
    text-shadow: 0px 0px 0px transparent;
    color: #fff;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input.btn-blue:active,
input.btn-green:active,
input.btn-red:active,
*.btn-blue:active,
*.btn-green:active,
*.btn-red:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
input[disabled="disabled"],
input[disabled="disabled"]:hover,
input[disabled="disabled"]:active {
    border: 1px solid #808080;
    background: #f2f2f2;
    box-shadow: 0px 0px 0px transparent;
    text-decoration: line-through;
    color: #b3b3b3;
    cursor: not-allowed;
}



.column {
    display: inline-block;
    padding: 4px;
    vertical-align: top;
    text-align: right;
}

input.search-elements,
input.search-elements:hover,
input.search-elements:focus {
    border-color: #a566cc;
    background-color: #f5e5ff;
    color: #674080;
}
input.searchbox-readonly,
input.searchbox-readonly:hover,
input.searchbox-readonly:focus {
    border-color: #b38524;
    background-color: #fff7e5;
    color: #664c14;
}
