.hr,
.hr-light,
.hr-heavy {
    display: block;
    margin: 5px 0px 9px 0px;
    height: 2px;
    background: #b7b7b7;
}
.hr-light {
    height: 1px;
}
.hr-heavy {
    height: 3px;
}



.action-block {
    display: inline-block;
    margin: 0px 2px 2px 0px;
    padding: 10px 13px;
    border: 2px solid transparent;
    border-radius: 3px;
    background: url('../img/system_background_logo_70x70.png') center center no-repeat scroll #fff;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.action-block:hover {

}
.action-block:active {

}



/* Embedded search styles */

#embedded-search-results-container {
    display: block;
    margin: 0px;
    padding: 3px;
    position: absolute;
    border: 2px solid #898989;
    border-radius: 3px;
    background: #f2f2f2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}
#embedded-search-results-container-close-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -15px 0px 0px -15px;
    position: absolute;
    border-radius: 20px;
    background: url('../img/etc_icon_close_button_20x20.png') center center no-repeat scroll transparent;
    cursor: pointer;
    opacity: 0.2;
}
#embedded-search-results-container-close-btn:hover {
    opacity: 1;
}
#embedded-search-results-container table {
    font-size: 0.85em;
}
#embedded-search-results-container > table > tbody > tr {
    cursor: pointer;
}
#embedded-search-results-container > table > tbody > tr:hover th,
#embedded-search-results-container > table > tbody > tr:hover td {
    background: #6dcff6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.embedded-search-pick {
    display: inline-block;
    width: 200px;
    margin: 0px 2px 2px 0px;
    padding: 4px 8px;
    border: 2px solid transparent;
    border-radius: 3px;
    background: #00aeef;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    text-align: left;
    color: #fff;
    cursor: not-allowed;
}
.embedded-search-pick-btn-cancel {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -15px 0px 0px -15px;
    position: absolute;
    border-radius: 20px;
    background: url('../img/etc_icon_close_button_20x20.png') center center no-repeat scroll transparent;
    opacity: 0.35;
    cursor: pointer;
}
.embedded-search-pick-btn-cancel:hover {
    opacity: 1;
}
