/* Page Layout */

html,
body {
    display: block;
    background: url('../../img/etc_background_texture_noise_white_100x100.png') center center repeat scroll #005b7f;
    font-weight: 300;
    text-align: center;
}

#system-header,
#system-body,
#system-footer {
    display: block;
    margin: 10px 20px;
    padding: 8px 10px;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 3px;
    background: url('../../img/etc_background_texture_noise_black_100x100.png') center center repeat scroll #f2f2f2;
}
#system-header {
    text-align: left;
}
#system-body {
    padding: 15px 25px;
    overflow: auto;
    font-size: 1em;
    text-align: left;
}

#user-information {
    display: inline-block;
    float: right;
    text-align: right;
}
#user-information-settings {
    display: inline-block;
    opacity: 0.65;
    cursor: pointer;
}
#user-information-settings:hover {
    opacity: 1;
}
#user-information-logout {
    display: inline-block;
    margin: 0px 0px 5px 10px;
    float: right;
    opacity: 0.65;
}
#user-information-logout:hover {
    opacity: 1;
}
#user-information-settings-options {
    display: none;
    position: absolute;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 3px;
    background: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
#user-information-settings-options a {
    display: block;
    padding: 8px 13px;
    font-size: 0.85em;
    text-decoration: none;
    text-align: left;
}
#user-information-settings-options a:hover {
    background: #6dcff6;
    text-shadow: 1px 1px 3px rgba(0, 91, 127, 0.85);
    color: #fff;
}



/* Global Tags */

a {
    text-decoration: none;
    color: #005b7f;
}
a:hover {
    color: #0076a3;
}



/* Form styles */

label {
    display: inline-block;
    margin: 0px 6px 2px 0px;
    vertical-align: middle;
}
.fieldset-block,
.fieldset-inline-block {
    display: block;
    margin: 0px 0px 2px 0px;
    padding: 10px 15px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    text-align: left;
}
.fieldset-inline-block {
    display: inline-block;
    margin: 0px 2px 2px 0px;
}
.fieldset-block legend,
.fieldset-inline-block legend {
    padding: 8px 13px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #959595;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: #fff;
}
.field-column {
    display: inline-block;
    margin: 0px 2px 2px 0px;
    text-align: right;
}
.text {
    display: inline-block;
    margin: 0px 2px 2px 0px;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #fff;
    vertical-align: middle;
}
.text:hover {
    background: #6dcff6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
}
.text:focus {
    border-color: #6dcff6;
    background: #fff;
    text-shadow: 0px 0px 0px transparent;
    color: #252525;
}
.button,
.button-green,
.button-red {
    display: inline-block;
    margin: 0px 2px 2px 0px;
    padding: 8px 13px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: #005b7f;
    font-size: 0.85em;
    color: #fff;
    vertical-align: middle;
}
.button-green {
    background: #005e20;
}
.button-red {
    background: #9e0b0f;
}
.button:hover {
    background: #0077a6;
    color: #fff;
}
.button-green:hover {
    background: #00852c;
    color: #fff;
}
.button-red:hover {
    background: #c40e14;
    color: #fff;
}
.button:active {
    background: #004966;
}
.button-green:active {
    background: #004517;
}
.button-red:active {
    background: #85090d;
}



/* Table styles */

.table {
    border-collapse: collapse;
}
.table th,
.table td {
    padding: 8px 13px;
    border: 1px solid #d7d7d7;
    background: #fafafa;
}
.table th {
    background: transparent;
    text-align: center;
    font-weight: 500;
    color: #636363;
}



/* Styles that are globally used */

.box20x20 {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.box30x30 {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.box50x50 {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.typo-type-1 {
    font-size: 1.5em;
    font-weight: 800;
}
.typo-type-2 {
    font-size: 1.3em;
    font-weight: 600;
}
.typo-type-3 {
    font-size: 1.15em;
    font-weight: 500;
}
.typo-type-4 {
    font-size: 1em;
    font-weight: 400;
}
.typo-type-5 {
    font-size: 0.85em;
    font-weight: 300;
}
.typo-type-6 {
    font-size: 0.75em;
    font-weight: 300;
}

.unhighlightable,
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
